/* Generelle stiler */

body, html {
    height: 100%;
}

body > div, .row, .info {
    height: 100%;
}

p {
    font-size: 16px;
}

.info p {
    margin: 0 0 20px;
    font-size: 1.3em;
    line-height: 1.5em;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    padding: 20px;
    background: #F0F0F0;
    font-style: italic;
    color: #666;
}

.bodyContent {
    font-size: 25px;
    padding: 20px 0 10px 0;
}

.page-header {
    margin-top: 0;
    font-size: 20px;
    line-height: 1.3em;
    padding: 10px 0 10px 0;
    color: #5E5E5E;
    border: 0;
    margin: 0 0 20px 0;
    text-align: center;
}

.page-header span {
    font-family: 'Gentium Book Basic', serif;
    font-size: 3.3em;
    line-height: 1.1em;
    color: #DF6047;
}

/* Kart */

.row {
    position: relative;
    min-height: 550px;
}

.angular-google-map-container { 
    position: absolute !important;
    height: 100%;
    width: 100%;
}

.container {
    padding-left: 0;
    height: 100%;
    pointer-events: none;
}

.info {
    color: #1D1D1D;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 0;
    pointer-events: auto;
    display: flex;
    align-items: center;
}

.info > div {
    background: rgba(255,255,255, 0.6);
    padding: 40px;
    border-radius: 20px;
}

/* Skjema */

.btn {
    padding: 10px 30px 10px 30px;
    background: #DF6047;
    color: #fff;
    font-size: 18px;
    border: 0;
}

.alert {
    margin-top: 20px;
    display: none;
}

.form-control {
    color: #000;
    font-size: 20px;
    border: 1px solid #C3C3C3;
}

input[type="text"] {
    padding: 25px 10px 25px 10px;
}

textarea.form-control {
    padding: 12px 10px 12px 10px;
}

textarea.form-control {
    min-height: 150px;
}

label {
    font-size: 20px;
    font-weight: normal;
    color: #6C6C6C;
}

/* Media queries */

@media (max-width: 1159px) { 

    .page-header {
        font-size: 19px;
    }

}

@media (max-width: 991px) {

    .container {
        width: auto;
    }

    .page-header {
        margin: 0 0 10px 0;
        font-size: 15px;
    }

    .info p {
        font-size: 1.1em;
        padding: 10px;
    }

}

@media (max-width: 767px) {
    
    /* Sett kart tilbake til relative på mobil. */
    .angular-google-map-container {
        position: relative !important;
        height: 400px;
        width: 100%;
    }

    .container, .row, .info {
        display: block;
        height: auto !important;
    }
    
    .page-header {
        font-size: 20px;
    }
    .page-header span {
        font-size: 2.5em;
    }
    label {
        font-size: 17px;
    }

}