
<!-- Kart. Satt utenfor bootstrap container og columns for å legge i fullbredde bak -->
<div class="map">
  <google-map center="map.center" zoom="map.zoom" events="map.events" options="map.options"></google-map>
</div>

<!-- Skjema -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-6 info">
      <div>
        <h1 class="page-header">Bli med på å lage hovedstadens <br><span>Litterære kart</span></h1>
        <p>Plassér dine favorittsteder fra det litterære Oslo på kartet og fortell andre hva de kan finne og oppleve der.</p>
        <form role="form" method="POST" ng-submit="submit()">
          <div class="form-group">
            <label for="name">Ditt navn</label>
            <input type="text" class="form-control" id="name" name="name" ng-model="name">
          </div>
          <div class="form-group">
            <label for="description">Beskriv området</label>
            <textarea class="form-control" rows="3" id="description" name="description" ng-model="description"></textarea>
          </div>
          <button type="submit" class="btn btn-default">Send inn</button>
        </form>
        <div class="alert alert-danger" role="alert">Du må velge et punkt på kartet og fylle inn begge feltene.</div>
        <div class="alert alert-success" role="alert">Takk for tipset!</div>
      </div>      
    </div>
  </div>
</div>