.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.alert {
    margin-top: 20px;
    display: none;
}

.bodyContent {
    font-size: 17px;
}

.row {
    position: relative;
    min-height: 550px;
}

.angular-google-map-container { 
    position: absolute !important;
    height: 100%;
    width: 100%;
}

.container {
    background: #000;
    padding-left: 0;
    height: 100%;
    pointer-events: none;
}

.info {
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 50px;
    pointer-events: auto;

    display: flex;
    align-items: center;
}

body > div, .row, .info {
    height: 100%;
}

.form-control {
    background: rgba(255,255,255,0.5);
    color: #000;
    font-size: 20px;
    border: 0;
}

textarea.form-control {
    min-height: 150px;
}

label {
    font-size: 23px;
    font-weight: normal;
    color: rgb(250, 250, 187);
}

P {
    margin: 0 0 20px;
    font-size: 1.3em;
    line-height: 1.5em;
}

.page-header {
    margin-top: 0;
    font-size: 45px;
    line-height: 1.3em;
    padding-bottom: 20px;
    color: rgb(233, 233, 27);
}

.btn {
    padding: 10px 30px 10px 30px;
}


@media (max-width: 1159px) { 

}

@media (max-width: 991px) {
    .angular-google-map-container {
        position: relative !important;
        height: 400px;
        width: 100%;
    }

    .info {
        display: block;
    }

    .page-header {
        margin-top: 40px;
    }
}

@media (max-width: 767px) {

}